configure
config.status
config.log
config.sub
config.guess
config.cache
aclocal.m4
autom4te.cache
missing
install-sh
depcomp
ltmain.sh
libtool
mkinstalldirs
config.h.in
config.h
stamp-*
*.o
*.lo
*.la
*.a
*.so
*.dll
*.exe
.deps
.libs
Makefile
Makefile.in
